body{
overflow: hidden;	

}
.header{
	background: url(../img/2.jpg) center center no-repeat;
	background-size: cover;
	&-content{
	
		width: 100%;
		height: 100vh;
	}
	&-photo{
		width: 150px;
		height: 150px;
		display: inline-block;
		&-center{
		text-align: center;
		}
	}
	&-head{
	margin-top: 104px;
		font-family: Comic Sans MS;
		color: white;
		font-size: 60px;
	}
	&-text{
		font-family: Comic Sans MS;
		color: white;
		font-size: 20px;
		margin-top: 30px;
	}
	&-button{
		margin-top: 50px;
		color: white;
		font-family:Comic Sans MS;
		font-size: 18px;
		background-color: black;
		opacity: 57%;
		width: 80%;
		border: 3px solid white;
		height: 50px;
		transition: all 0.5s;
		&:hover{
			opacity: 90%;
		}
		&:hover .modal-trigger{

			color: white;
		font-family:Comic Sans MS;
		font-size: 18px;
		text-decoration: line-through;
		}
		&:focus{
			outline: none;
		}
	}
}
.modal{
	width: 90%;
	top: 5%;
	margin-left: 5%;
	z-index: 1050;
	&-header{
		background-color: transparent;
		border: none;
		&-btn{
			border: none;
			background-color: transparent;
			margin-left: 98%;
		}
		&-a{
			width: 30px;
			font-size: 30px;
			color: white;
			&:hover{
				color: white;
				text-decoration: none;
			}
		}

	}
	&-content{
		border: 10px solid #999999;
	}
&-foto{
	width: 100%;

}
	
	&-trigger{
		
		padding: 9px 40px;
		color: white;
		font-family:Comic Sans MS;
		font-size: 18px;
		&:focus{
			outline: none;
		}
	}
	
}
.about{
	background: url(../img/about-bg.jpg) center center no-repeat;
	background-size: cover;
	&-content{
		width: 100vh;
		height: 100vh;
	}
}
.gallery{
	background: url(../img/gallery.jpg) center center no-repeat;
	background-size: cover;
	&-content{
		width: 100vh;
		height: 100vh;
	}
}
.contact{
	background: url(../img/pexels-bess-hamiti-443356.jpg) center center no-repeat;
	background-size: cover;
	&-gallery{
		width: 100vh;
		height: 100vh;
	}
}
.slider{
	width: 100%;
	position: relative;
	height: 100vh;
}
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
	top: 50%;
	margin: -20px 0px 0px 0px;
	z-index: 10;
	width: 100px;
	height: 40px;
	font-size: 0;
	border: none;
}
.slick-arrow:focus{
	outline: none;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left: 0;
	background: url(../img/left.png) 0 0 no-repeat;
	background-size: contain;
	margin-left: 30px;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	right: 0;
	margin-right: 30px;
	background: url(../img/right.png) 0 0 no-repeat;
	background-size: contain;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
.slick-dot{
	left: 65%;
	position: absolute;
	margin-top: -700px;
	z-index: 19;
& li{
	display: inline-block;
	list-style-type: none;
	color: white;
	font-family: Comic Sans MS;
}
& button{
	background-color: transparent;
	border: none;
	color: white;
}
}
/* Точки (булиты) */
.slick-dots{
	left: 65%;
	position: absolute;
	margin-top: -710px;
	z-index: 20;
}
.slick-dots li{
	margin-left: 3px;
	margin-right: 7px;
	display: inline-block;
	list-style-type: none;
	font-size: 0;
	padding-top: 2px;
	background-color: transparent;
	height: 30px;
	width: 70px;
}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{
	border: none;
	background-color: transparent;
	&:focus{
		outline: none;
	}
}